<h1>Bonjour <%= @utilisateur.prenom %> <%= @utilisateur.nom %></h1>
<p>
  Nouvelle disponibilité possible.
</p>
<p>Accéder à l'application afin de confirmer ou refuser le remplacement : <%= @url %> </p>